.navbar-collapse {
  justify-content: space-between;
}

.fa-angle-down {
  position: relative;
  top: 0px;
  left: 2px;
  font-size: 10px;
}

.dropdown-menu {
  left: auto;
  max-height: 500px;
  overflow: auto;
  min-width: 320px;
  padding: 10px;
  box-shadow: -2px 5px 6px #8c8c8c;
}

.dropdown-item {
  color: #2378d3;
  position: relative;
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  padding: .5rem 1.5rem;
  cursor: pointer;

  &:first-child {
    border: none;
  }

  &:hover {
    background: none;
  }

  &:active {
    color: #0056b3;
  }

  a:hover {
    cursor: pointer;
  }
}

.nav-link:active {
  color: #fff !important;
}

.close {
  position: absolute;
  right: 10px;
  font-size: 1rem;
  top: 8px;
  cursor: pointer;
}
